<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link th:href="@{/css/styles.css}"
          href="../css/styles.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends - Kokoa Clone</title>
</head>

<body>
<div class="status-bar">
    <div class="status-bar__column">
        <span>No Service</span>
        <i class="fa-solid fa-wifi"></i>
    </div>

    <div class="status-bar__column">
        <span>18:43</span>
    </div>

    <div class="status-bar__column">
        <span>80%</span>
        <i class="fa-solid fa-battery-full fa-lg"></i>
        <i class="fa-solid fa-bolt-lightning"></i>
    </div>
</div>

<header class="screen-header">
    <h1 class="screen-header__title">Friends</h1>
    <div class="screen-header__icons">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
        <span><i class="fa-solid fa-music"></i></span>
        <span><i class="fa-solid fa-gear"></i></span>
    </div>
</header>

<a id="friends-display-link">
    <i class="fa-solid fa-circle-info"></i>
    Friends's Names Display
    <i class="fa-solid fa-chevron-right fa-xs"></i>
</a>


<main class="friends-screen">

    <div class="user-component">
        <div class="user-component__colunm">
            <img
                src="https://phinf.pstatic.net/contact/20211027_98/1635341323401tc5OB_JPEG/%C7%C1%BB%E7.jpg?type=s160"
                class="user-component__avatar user-component__avatar--xl"/>
            <div class="user-component__text">
                <h4 class="user-component__title" th:text="${userName}">Munkyeong</h4>
                <h6 class="user-component__subtitle" th:text="${userDescription}">this text
                    whatever</h6>
            </div>
        </div>
        <div class="user-component__colunm">
        </div>
    </div>

    <div class="friends-screen__channel" id="friends-display">

        <div class="friends-screen__channel-header">
            <span>Friends</span>
            <i class="fa-solid fa-chevron-up fa-xs check"></i>
        </div>

        <th:block th:each="friend : ${friends}">
            <div class="user-component">
                <div class="user-component__colunm">
                    <img src="http://placehold.it/50x50?text=Friend" class="user-component__avatar user-component__avatar--sm" />
                    <div class="user-component__text">
                        <h4 class="user-component__title user-component__title--not-bold" th:text="${friend.friendName}">gyumin</h4>
                        <h6 class="user-component__subtitle" th:text="${friend.friendStatus}">hi!</h6>
                    </div>
                </div>
                <div class="user-component__colunm">
                    <div>
                        <span>2</span> <!-- 메세지 수신 개수 -->
                        <i class="fa-solid fa-chevron-right fa-xs"></i>
                    </div>
                </div>
            </div>
        </th:block>
    </div>



</main>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__btn"><a class="nav__link" th:href='@{/}' href="friends.html"><i
            class="fa-solid fa-user fa-lg"></i></a></li>
        <li class="nav__btn"><a class="nav__link" th:href='@{/chats}' href="chats.html">
            <span class="nav__notification badge">1</span>
            <i class="fa-regular fa-comment fa-lg"></i></a></li>
        <li class="nav__btn"><a class="nav__link" th:href='@{/friend}' href="find.html"><i
            class="fa-solid fa-magnifying-glass fa-lg"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="more.html">
            <span class="nav__dot"></span>
            <i class="fa-solid fa-ellipsis fa-lg"></i></a></li>
    </ul>
</nav>

<div id="splash-screen">
    <i class="fa-solid fa-comment "></i>
</div>

<script src="https://kit.fontawesome.com/6621720c97.js" crossorigin="anonymous"></script>

</body>

</html>