<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Kokoa Clone</title>
</head>

<body id="chat-screen">
    <div class="status-bar chat-status-bar">
        <div class="status-bar__column">
            <span>No Service</span>
            <i class="fa-solid fa-wifi"></i>
        </div>

        <div class="status-bar__column">
            <span>18:43</span>
        </div>

        <div class="status-bar__column">
            <span>80%</span>
            <i class="fa-solid fa-battery-full fa-lg"></i>
            <i class="fa-solid fa-bolt-lightning"></i>
        </div>

    </div>

    <header class="alt-header chat-alt-header">
        <div class="alt-header__column">
            <a href="chats.html">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </a>
        </div>
        
        <div class="alt-header__column">
            <h1 class="alt-header__column__title">Kangoll</h1>
        </div>

        <div class="alt-header__column">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            <i class="fa-solid fa-bars fa-lg"></i>
        </div>
    </header>

    <main class="main-screen main-chat">
        <div class="chat__timestamp">
            Friday, March 2, 2023
        </div>

        <div class="message-row  message-connected">
            <img src="https://thumb.mt.co.kr/06/2015/09/2015092220221498877_1.jpg/dims/optimize/"/>
            <div class="message-row__content">
                <span class="message-author">kangoll</span>
                <div class="message-info">
                    <span class="message__bubble">Hey</span>
                </div>
            </div>

        </div>

        <div class="message-row">
            <img src="https://thumb.mt.co.kr/06/2015/09/2015092220221498877_1.jpg/dims/optimize/"  style="opacity: 0;"/>

            <div class="message-row__content">
                <div class="message-info">
                    <span class="message__bubble">Do U have a time?</span>
                    <span class="messgae__time">22:21</span>
                </div>
            </div>
        
        </div>

        <div class="message-row">
            <img src="https://thumb.mt.co.kr/06/2015/09/2015092220221498877_1.jpg/dims/optimize/" />
            <div class="message-row__content">
                <span class="message-author">kangoll</span>
                <div class="message-info">
                    <span class="message__bubble">Come into the LOL game</span>
                    <span class="messgae__time">22:22</span>
                </div>
            </div>
        
        </div>

        <div class="message-row message-row--own">
            <div class="message-row__content">
                <div class="message-info">
                    <span class="message__bubble">I'm connecting lol</span>
                    <span class="messgae__time">22:22</span>
                </div>
            </div>
        
        </div>
    </main>

    <form class="reply">
        <div class="reply__colunm">
            <i class="fa-regular fa-square-plus fa-lg"></i>
        </div>
        <div class="reply__colunm">
            <input type="text" placeholder="Write a message..">
            <i class="fa-regular fa-face-smile fa-lg"></i>
            <button>
                <i class="fa-solid fa-arrow-up"></i>
            </button>

        </div>
    </form>
    <div class="no-mobile">
        <span> Your screen is too big.. ㅠㅠ</span>
    </div>


    <script src="https://kit.fontawesome.com/6621720c97.js" crossorigin="anonymous"></script>


</body>

</html>