<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link
        th:href="@{/css/common.css}"
        href="../css/common.css"
        rel="stylesheet"
    />
    <link
        th:href="@{/css/styles.css}"
        href="../css/styles.css"
        rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
<div th:replace="fragments/status-bar.html :: status-bar"></div>
<div th:replace="fragments/nav.html :: fragment-nav"></div>

<header class="alt-header">
    <h1 class="alt-header__column__newchat">Create new chat</h1>
</header>

<!--    <div class="newChat__colunm">-->
<!--      <input-->
<!--          type="text"-->
<!--          placeholder="Search for your friend"-->
<!--          id="newChat__colunm__input"/>-->
<!--      <i class="fa-solid fa-magnifying-glass fa-lg"></i>-->
<!--    </div>-->
<!--    <form class="newChat">-->
<!--      <div class="newChat__colunm">-->
<!--        <input-->
<!--            type="text"-->
<!--            placeholder="Search for your friend"-->
<!--            id="newChat__colunm__input"-->
<!--        />-->
<!--        <i class="fa-solid fa-magnifying-glass fa-lg"></i>-->
<!--      </div>-->
<!--    </form>-->
<div id="selectedValues"></div>

<main class="main-screen">
    <ul class="settings-list">
        <div class="newChat_list">
            <p class="newChat_list__title" th:text="'친구 ' + ${form.getFriends().size()}">친구 5</p>
            <div id="newChat__searchResult"></div>

            <form action="#" th:action="@{/room}" th:object="${form}" method="post">
                <div class="user-component" th:each="friend, friendStat : *{friends}">
                    <div class="user-component__colunm">
                        <img
                            src="http://placehold.it/50x50?text=Friend"
                            class="user-component__avatar user-component__avatar--sm"/>
                        <div class="user-component__text">
                            <input style="display: none"
                                   th:field="*{friends[__${friendStat.index}__].userId}"/>
                            <h4 class="user-component__title user-component__title--not-bold"
                                th:field="*{friends[__${friendStat.index}__].userName}" th:text="*{friends[__${friendStat.index}__].userName}">
                    user1
                  </h4>
                </div>
              </div>
              <div class=" user-component__colunm">
                            <div>
                                <label class="user-component__checkbox">
                                    <input type="hidden" th:field="*{friends[__${friendStat.index}__].join}"/>
                                    <input type="hidden" th:field="*{friends[__${friendStat.index}__].userName}"/>
                                    <input type="checkbox" th:value="*{friends[__${friendStat.index}__].userName}"/>
                                    <span class="user-component__checkmark"> </span>
                                    <i class="fa-solid fa-check"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="newChat__submit">
                        <button type="submit" id="submit_btn">확인</button>
                        <button onclick="window.location.href='@{../friends/friends.html}'">취소
                        </button>
                    </div>
            </form>

            <!--          <div class="user-component">-->
            <!--            <div class="user-component__colunm">-->
            <!--              <img-->
            <!--                src="http://placehold.it/50x50?text=Friend"-->
            <!--                class="user-component__avatar user-component__avatar&#45;&#45;sm"/>-->
            <!--              <div class="user-component__text">-->
            <!--                <h4-->
            <!--                  class="user-component__title user-component__title&#45;&#45;not-bold"-->
            <!--                  th:text="${friend.friendName}">-->
            <!--                  user6-->
            <!--                </h4>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="user-component__colunm">-->
            <!--              <div>-->
            <!--                <label class="user-component__checkbox">-->
            <!--                  <input-->
            <!--                    type="checkbox"-->
            <!--                    name="user66666666"-->
            <!--                    value="user66666666"/>-->
            <!--                  <span class="user-component__checkmark"> </span>-->
            <!--                  <i class="fa-solid fa-check"></i>-->
            <!--                </label>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
        </div>
    </ul>

</main>


<script
    src="https://kit.fontawesome.com/6621720c97.js"
    crossorigin="anonymous"
></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const confirmButton = document.getElementById("submit_btn");
    confirmButton.classList.add("newChat_notSelected");
  });

  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  const selectedValuesDiv = document.getElementById("selectedValues");
  const confirmButton = document.getElementById("submit_btn");
  //   const confirmButton = document.querySelector(".newChat__submit button");
  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", () => {
      const hiddenField = checkbox.closest('.user-component').querySelector('input[type="hidden"]');
      hiddenField.value = checkbox.checked ? "true" : "false";

      const selectedUserNames = Array.from(checkboxes)
      .filter((cb) => cb.checked)
      .map((cb) => cb.value); // 사용자 이름 가져오기

      selectedValuesDiv.innerHTML = ""; // 기존 내용 초기화
      selectedUserNames.forEach((userName) => {
        const spanElement = document.createElement("span");
        spanElement.textContent = userName;
        selectedValuesDiv.appendChild(spanElement);
      });

      if (selectedUserNames.length === 0) {
        selectedValuesDiv.classList.remove("newChat__selected__list");
        confirmButton.classList.add("newChat_notSelected");
        confirmButton.classList.remove("newChat_Selected");
      } else {
        selectedValuesDiv.classList.add("newChat__selected__list");
        confirmButton.classList.remove("newChat_notSelected");
        confirmButton.classList.add("newChat_Selected");
      }
    });
  });

  /*  const searchInput = document.getElementById("newChat__colunm__input");
  const searchResults = document.getElementById("newChat__searchResult");

  // 예제로 사용할 친구 목록
  const friends = ["user1", "user2", "user3", "user4", "user5", "user6"];

  // 입력 필드의 입력 이벤트를 감지
  searchInput.addEventListener("input", () => {
    const searchText = searchInput.value.toLowerCase();
    const filteredFriends = friends.filter((friend) =>
      friend.toLowerCase().includes(searchText)
    );

    // 검색 결과를 화면에 표시
    searchResults.innerHTML = "";
    filteredFriends.forEach((friend) => {
      const resultItem = document.createElement("div");
      resultItem.textContent = friend;
      searchResults.appendChild(resultItem);
    });
  }); */
</script>
</body>
</html>
