<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/common.css}"
          href="../css/common.css" rel="stylesheet">
</head>
<body>

<div class="center">

    <div class="py-5 text-center">
        <h2>Login</h2>
    </div>

    <div class="py-5 text-center">
        <h2 th:field="${processId}"> 회원가입 진행중인 ID</h2>
        <div id="statsArea"/>
    </div>

    <form action="" th:action th:object="${loginForm}" method="post">


        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error tc" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>


        <div class="grid grid--block">
            <div class="item-3">
                <p class="col-l">id</p>
            </div>
            <div class="item-6">
                <input type="text" th:field="*{loginId}" class="form-control"
                       th:errorclass="field-error">
            </div>
            <div class="item-6">
                <div class="field-error" th:errors="*{loginId}" >오류메세지</div>
            </div>
        </div>

        <div class="grid grid--block">
            <div class="item-3">
                <p class="col-l">password</p>
            </div>
            <div class="item-6">
                <input type="password" th:field="*{password}" class="form-control"
                       th:errorclass="field-error">
            </div>
            <div class="item-6">
                <div class="field-error" th:errors="*{password}" >오류메세지</div>
            </div>
        </div>


        <div class="container-2" style="padding-top: 30px">
            <div class="item-6">
                <button class="w-100 btn-primary" type="submit">login</button>
            </div>
            <div class="item-6">
                <button class="w-100 btn-primary" onclick="location.href='../users/addUserForm.html'"
                        th:onclick="|location.href='@{/user}'|"
                        type="button">register</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->
</body>
</html>

