<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link th:href="@{/css/styles.css}"
          href="../css/styles.css" rel="stylesheet">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="status-bar">
    <div class="status-bar__column">
        <span>No Service</span>
        <i class="fa-solid fa-wifi"></i>
    </div>

    <div class="status-bar__column">
        <span>18:43</span>
    </div>

    <div class="status-bar__column">
        <span>80%</span>
        <i class="fa-solid fa-battery-full fa-lg"></i>
        <i class="fa-solid fa-bolt-lightning"></i>
    </div>
</div>

<header class="welcome-header">
    <h1  class="welcome-header_title">Welcome to Kokoa Clone</h1>
    <p class="welcome-header_text">
        If you have a Kakao Account, <br> log in with your email or phone number.
    </p>
</header>

<form action="friends.html" th:action th:object="${loginForm}" method="post" id="login-form">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <input name="username" type="text" th:field="*{loginId}" th:errorclass="field-error" placeholder="Email or phone number"/>
    <p class="field-error" th:errors="*{loginId}" >오류메세지</p>

    <input name="password" th:field="*{password}" type="password" placeholder="Password"/>
    <p class="field-error" th:errors="*{password}" >오류메세지</p>


    <input type="submit" onclick="location.href='../home.html'" th:onclick="|location.href='@{/user}'|" value="Log In"/>

    <a href="#" >Find Kakao Account or Password</a>
</form>
<div class="no-mobile">
    <span> Your screen is too big.. ㅠㅠ</span>
</div>


<script src="https://kit.fontawesome.com/6621720c97.js" crossorigin="anonymous"></script>


</body>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    var d
</script>