<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/templates/css/common.css}"
          href="css/common.css" rel="stylesheet">
</head>
<body>

<div class="center">

    <div class="py-5 text-center">
        <h2>Main</h2>
    </div>

    <div th:if="${status} == false" class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/users/add}'|">
                회원 가입
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg" onclick="location.href='home.html'"
                    th:onclick="|location.href='@{/login}'|" type="button">
                로그인
            </button>
        </div>
    </div>

    <div th:if="${status} == true" class="ROW">
        <form th:action="@{/logout}" method="post">
            <button class="w-100 btn btn-dark btn-lg" onclick="location.href='home.html'" type="submit">
                로그아웃
            </button>
        </form>
        <hr class="my-4">
        <button class="w-100 btn btn-dark btn-lg" th:onclick="|location.href='@{/users}'|" onclick="location.href='users/loginHome.html'" type="submit">
            친구목록
        </button>
    </div>

    <hr class="my-4">

</div> <!-- /container -->

</body>
</html>