<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/common.css}"
        href="css/common.css" rel="stylesheet">
</head>
<body>

<div class="center" style="max-width: 600px">

  <div class="py-5 text-center">
    <h2>Main</h2>
  </div>


  <div>
    <p>
      My Friends
    </p>
    <table class="table">
      <thead class="col-l">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr class="col-l" th:each="f : ${friends}">
        <td th:text="${f.friendId}">friend id</td>
        <td th:text="${f.friendName}">friend name</td>
        <td th:text="${f.friendStatus}">friend status</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="container-2">
    <div class="item-6">
      <button class="w-100 btn-primary" onclick="location.href='users/rooms.html'"
              th:onclick="|location.href='@{/users/add}'|"
              type="button">chat room</button>
    </div>
    <div class="item-6">
      <button class="w-100 btn-primary" onclick="location.href='users/addFriendForm.html'"
              th:onclick="|location.href='@{/friend}'|"
              type="button">add friends</button>
    </div>
    <div class="item-6">
      <button class="w-100 btn-primary" onclick="location.href='users/updateStatusForm.html'"
              th:onclick="|location.href='@{/users/add}'|"
              type="button">change status</button>
    </div>
    <div class="item-6">
      <button class="w-100 btn-primary" onclick="location.href='login/loginForm.html'"
              th:onclick="|location.href='@{/auth/logout}'|"
              type="button">logout</button>
    </div>
  </div>



</div> <!-- /container -->

</body>
</html>