


.mains {
    text-align: center;
    color: #0a58ca;

    p {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #dc3545;
    }

    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
}

#container {
    max-width: 560px;

}