<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/common.css}"
        href="../css/common.css" rel="stylesheet">
</head>
<body>

<div class="center">

  <div class="py-5 text-center">
    <h2>Add Friend</h2>
  </div>

  <form action="" th:action th:object="${friendForm}" method="post">

    <div class="tc" th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div class="grid grid--block">
      <div class="item-6">
        <p class="col-l">Put your friend's id here :)</p>
      </div>
      <div class="item-6">
        <input type="text" th:field="*{friendId}" class="form-control"
               th:errorclass="field-error">
      </div>

      <div class="item-6">
        <div class="field-error" th:errors="*{friendId}" >오류메세지</div>
      </div>

      <div class="item-6" style="padding-top: 30px">
        <button class="w-100 btn-primary" type="submit">add</button>
      </div>
      <div class="item-6">
        <button class="w-100 btn-secondary" onclick="location.href='../users.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">back</button>
      </div>

    </div>




  </form>


</div> <!-- /container -->
</body>
</html>