<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/common.css}"
        href="../css/common.css" rel="stylesheet">
</head>
<style>
.greendot {
  height: 25px;
  width: 25px;
  background-color: #5bf100;
  border-radius: 50%;
  display: inline-block;
}

.reddot {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.orangedot {
  height: 25px;
  width: 25px;
  background-color: #ffb310;
  border-radius: 50%;
  display: inline-block;
}

.container-4 {
  display: grid;
  grid-template-columns: 30px 1fr;
  /* display: inline-grid; */
}

.item {
  padding: 0px;
  /* display: inline-grid; */
}


</style>

<body>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="center">

  <div class="py-5 text-center">
    <h2>Register Form</h2>
    <div class="container-4" id="userStatus">

    </div>
<!--    <h2 id="statsArea">Original forms</h2>-->
  </div>





  <form action="" th:action th:object="${userForm}" method="post">

    <div class="tc" th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div class="grid grid--block">
      <div class="item-6">
        <p class="col-l">Enter your id</p>
      </div>
      <div class="item-6">
        <input type="text" id="userId" th:field="*{userId}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{userId}">오류 메세지-1</div>
      </div>

      <div class="item-6">
        <p class="col-l">Enter your password</p>
      </div>
      <div class="item-6">
        <input type="password" th:field="*{userPw}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{userPw}">오류 메세지-2</div>
      </div>

      <div class="item-6">
        <p class="col-l">Enter your full-name</p>
      </div>
      <div class="item-6">
        <input type="text" th:field="*{userName}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{userName}">오류 메세지-3</div>
      </div>

      <div class="item-6">
        <p class="col-l">Enter your email</p>
      </div>
      <div class="item-6">
        <input type="text" th:field="*{email}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{email}" >오류 메세지-4</div>
      </div>

      <div class="item-6" style="padding-top: 30px">
        <button class="w-100 btn-primary" type="submit" th:onclick="register()">register now</button>
      </div>
      <div class="item-6">
        <button class="w-100 btn-secondary" onclick="location.href='../login/loginForm.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">back</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->
</body>
</html>

<script th:inline="javascript">
  /*<![CDATA[*/

  var str = '';
  var sockJs = new SockJS("/stomp/chat");

  //1. SockJS를 내부에 들고있는 stomp를 내어줌
  var stomp = Stomp.over(sockJs);


  //2. connection이 맺어지면 실행
  stomp.connect({}, function () {
    console.log("Successfully created STOMP connection");

    //3. send(path, header, message)로 메세지를 보낼 수 있음
    // stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId,writerId:writerId, writer: username, createAt:Date.now()}))
  });

  function register() {
    var userId = document.getElementById("userId");
    console.log(userId);
    //4. subscribe(path, callback)으로 메세지를 받을 수 있음
    stomp.subscribe("/sub/user/" + userId.value, function (stats) {
      var content = JSON.parse(stats.body);
      console.log(stats);
      str = "<div class=\"item\">";
      if (content.userStatus == "USER_INSERT_COMPLETE"){
        str += "<span class=\"greendot\"></span>";
      }else if(content.userStatus == "USER_DUPLICATION"){
        str += "<span class=\"reddot\"></span>";
      }else{
        str += "<span class=\"orangedot\"></span>";
      }
      str += "</div>";
      str += "<div class=\"item\">";
      str += "<p>";
      str += "인증서버 Status"
      str += "</p>";
      str += "</div>";
      str += "<div class=\"item\">";

      if (content.chatStatus == "USER_SUCCES"){
        str += "<span class=\"greendot\"></span>";
      }else if(content.chatStatus == "USER_FAIL"){
        str += "<span class=\"reddot\"></span>";
      }else{
        str += "<span class=\"orangedot\"></span>";
      }
      str += "</div>";
      str += "<div class=\"item\">";
      str += "<p>";
      str += "채팅서버 Status"
      str += "</p>";
      str += "</div>";
      str += "<div class=\"item\">";

      if (content.customerStatus == "USER_SUCCES"){
        str += "<span class=\"greendot\"></span>";
      }else if(content.customerStatus == "USER_FAIL"){
        str += "<span class=\"reddot\"></span>";
      }else{
        str += "<span class=\"orangedot\"></span>";
      }
      str += "</div>";
      str += "<div class=\"item\">";
      str += "<p>";
      str += "고객서버 Status"
      str += "</p>";
      str += "</div>";


      document.getElementById("userStatus").innerHTML = str;
      // document.getElementById("statsArea").innerText(str);
      // $("#statsArea").innerText(str);

    });
  }


  /*]]>*/
</script>