<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/msg.css}"
        href="../css/msg.css" rel="stylesheet">
  <link th:href="@{/css/common.css}"
        href="../css/common.css" rel="stylesheet">

</head>

<th:block th:fragment="content">
  <body>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <div class="center">
      <h2>[[${roomName}]]</h2>

      <div class="scroll-box h-250">
        <table class="item">
          <tbody>
              <div id="msgArea"/>
          </tbody>
        </table>
      </div>
      <div class="container-85-15" style="padding-top: 30px">
        <input type="text" id="msg" name="msg" class="form-control" style="margin-bottom: 10px">
        <button class="w-100 btn-primary" type="button" th:onclick="msgSend()">전송</button>
      </div>

        <div style="text-align: center">
            To leave this room,
            <a th:href="@{/user/rooms}" href="rooms.html" style="text-align: center"> Click here </a>
        </div>

    </div>


  </body>
</th:block>

</html>


<script th:inline="javascript">
  /*<![CDATA[*/


  var roomName = [[${roomName}]];
  var roomId = [[${roomId}]];
  var username = [[${user.userName}]];
  var userId = [[${user.userId}]];
  var record = [[${records}]];
  var writerId = [[${user.userId}]];

  console.log(roomName + ", " + roomId + ", " + username);
  record.forEach(function(r){
    var str = '';


    if (r.sendUserId == userId){
        str = "<div class='msg-r m-tb-5'>";
        str += r.sendUserName + " : " + r.message;
        str += "</div>";
        $("#msgArea").append(str);
    }
    else{
        str = "<div class='msg-l m-tb-5'>";
        str += r.sendUserName + " : " + r.message;
        str += "</div>";
        $("#msgArea").append(str);
    }
  });

  var sockJs = new SockJS("/stomp/chat");

  //1. SockJS를 내부에 들고있는 stomp를 내어줌
  var stomp = Stomp.over(sockJs);

  //2. connection이 맺어지면 실행
  stomp.connect({}, function () {
    console.log("Successfully created STOMP connection")

    //4. subscribe(path, callback)으로 메세지를 받을 수 있음
    stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
      var content = JSON.parse(chat.body);

      var writer = content.writer;
      var writerId = content.writerId;
      var message = content.message;
      var str = '';

      console.log("writer:"+writer+" message:"+message);
      if (writerId === userId) {
        str = "<div class='msg-r m-tb-5'>";
        str += writer + " : " + message;
        str += "</div>";
        $("#msgArea").append(str);
      } else {
        str = "<div class='msg-l m-tb-5'>";
        str += writer + " : " + message;
        str += "</div>";
        $("#msgArea").append(str);
      }

    });

    //3. send(path, header, message)로 메세지를 보낼 수 있음
    // stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId,writerId:writerId, writer: username, createAt:Date.now()}))
  });


  function msgSend() {
    var msg = document.getElementById("msg");
    console.log(username + ":" + msg.value);

    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId,writerId:writerId, message: msg.value, writer: username, createAt:Date.now()}));
    msg.value = '';
  }



  /*]]>*/
</script>