<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/common.css}"
          href="../css/common.css" rel="stylesheet">
    <link th:href="@{/css/msg.css}"
          href="../css/msg.css" rel="stylesheet">
</head>
<body>
<div class="center">
    <h2>My Chat Room</h2>

    <div class="grid grid--block">
        <div class="item-6">
            room list
            <div th:each="room : ${list}">
                <button style="margin-top: 10px" class="btn-room" onclick="location.href='chat.html'"
                        th:onclick="|location.href='@{/user/chat(roomId=${room.roomId},roomName=${room.roomName})}'|" type="button">
                    [[${room.roomName}]]
                </button>
            </div>
        </div>
        <div class="item-6" style="margin-top: 20px">
            <button class="w-100 btn-primary" onclick="location.href='room.html'"
                    th:onclick="|location.href='@{/user/room}'|"
                    type="button">Create new chat room</button>
        </div>
        <div class="item-6">
            <button class="w-100 btn-secondary" onclick="location.href='../users.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">back</button>
        </div>
    </div>
</div>

</body>
</html>