<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/common.css}"
        href="../css/common.css" rel="stylesheet">
</head>
<body>

<div class="center">


  <h2>Change User Status Message</h2>


  <form action="" th:action th:object="${userStatusUpdateDTO}" method="post">

    <div style="text-align: center" th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div class="grid grid--block">
      <div class="item-6">
        <label>Update your status as below</label>
      </div>
      <div class="item-6">
        <input type="text" id="loginId" th:field="*{statusMessage}" class="form-control"
               th:errorclass="field-error">
      </div>
      <div class="item-6">
        <div class="field-error" th:errors="*{statusMessage}" >필드 오류</div>
      </div>
      <div class="item-6">
        <button class="w-100 btn-primary" type="submit">Update</button>
      </div>
      <div class="item-6">
        <button class="w-100 btn-secondary" onclick="location.href='../users.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">back</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->
</body>
</html>