<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>메인화면</h2>
  </div>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>My ID</th>
        <th>My name</th>
        <th>My Email</th>
        <th>Join Date</th>
        <th>Last Login Date</th>
      </tr>
      </thead>
      <tbody>
      <td th:text="${user.userId}">My ID</td>
      <td th:text="${user.userName}">My Name</td>
      <td th:text="${user.email}">My Email</td>
      <td th:text="${user.joinDate}">Join Datae</td>
      <td th:text="${user.loginDate}">Last Login Date</td>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='users/addFriendForm.html'"
              th:onclick="|location.href='@{/friend/add}'|"
              type="button">친구추가
      </button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='users/loginHome.html'"
              th:onclick="|location.href='@{/}'|"
              type="button">홈화면
      </button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='users/loginHome.html'"
              th:onclick="|location.href='@{/users/status}'|"
              type="button">상태메세지 변경
      </button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='users/rooms.html'"
              th:onclick="|location.href='@{/users/rooms}'|"
              type="button">채팅방 목록
      </button>
    </div>

  </div>

  <div>
    <p>친구 목록</p>
    <table class="table">
      <thead>
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>상태메세지</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="friend : ${findFriends}">
        <td th:text="${friend.friendId}">친구 ID</td>
        <td th:text="${friend.friendName}">친구 NAME</td>
        <td th:text="${friend.friendStatusMessage}">친구 Status Message</td>
      </tr>
      </tbody>
    </table>
  </div>


</div> <!-- /container -->

</body>
</html>