.user-component {
    justify-content: space-between ;
    margin-bottom: 20px;
}

.user-component,
.user-component__colunm:first-child{
    display: flex;
    align-items: center;
}
.user-component__avatar{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.user-component__title {
    font-weight:500;
    font-size: 15px;
}

.user-component__title--not-bold {
    font-weight: 300;
}

.user-component__subtitle{
    margin-top: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__subtitle i {
    color: tomato;
    opacity: 70%;

}

.user-component__avatar--xl{
    width: 55px;
    height: 55px;
    border-radius: 22px;

}

.user-component__avatar--sm {
    width: 40px;
    height: 40px;
    border-radius: 15px;

}


.user-component__colunm:last-child {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    

}

.check {
    padding-top: 5px;
}

.user-component__time {
    margin-bottom:  10px;
    display: block;
}

