<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/common.css}"
        href="../css/common.css" rel="stylesheet">
</head>
<body>

<div class="center">

  <div class="py-5 text-center">
    <h2>Register Form</h2>
  </div>



  <form action="" th:action th:object="${userForm}" method="post">

    <div class="tc" th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div class="grid grid--block">
      <div class="item-6">
        <p class="col-l">Enter your id</p>
      </div>
      <div class="item-6">
        <input type="text" th:field="*{userId}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{userId}">오류 메세지-1</div>
      </div>

      <div class="item-6">
        <p class="col-l">Enter your password</p>
      </div>
      <div class="item-6">
        <input type="password" th:field="*{userPw}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{userPw}">오류 메세지-2</div>
      </div>

      <div class="item-6">
        <p class="col-l">Enter your full-name</p>
      </div>
      <div class="item-6">
        <input type="text" th:field="*{userName}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{userName}">오류 메세지-3</div>
      </div>

      <div class="item-6">
        <p class="col-l">Enter your email</p>
      </div>
      <div class="item-6">
        <input type="text" th:field="*{email}" class="form-control"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{email}" >오류 메세지-4</div>
      </div>

      <div class="item-6" style="padding-top: 30px">
        <button class="w-100 btn-primary" type="submit">register now</button>
      </div>
      <div class="item-6">
        <button class="w-100 btn-secondary" onclick="location.href='../login/loginForm.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">back</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->
</body>
</html>